@model EShopOnlineExam.Models.CertTopicViewModel

@{
    ViewData["Title"] = "Create Certificate";
}

<h1>Create</h1>

<h4>Certificate</h4>
<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="position-relative m-4">
            <div class="progress bg-secondary" style="height: 1px;">
                <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">1</button>
            <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">2</button>
            <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">3</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Certificate.Title" class="control-label"></label>
                <input asp-for="Certificate.Title" class="form-control" value="" required />
                <span asp-validation-for="Certificate.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certificate.Description" class="control-label"></label>
                <input asp-for="Certificate.Description" class="form-control" value="" required/>
                <span asp-validation-for="Certificate.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certificate.PossibleMarks" class="control-label"></label>
                <input asp-for="Certificate.PossibleMarks" class="form-control" value="" required />
                <span asp-validation-for="Certificate.PossibleMarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certificate.ScoreNeededToPass" class="control-label"></label>
                <input asp-for="Certificate.ScoreNeededToPass" class="form-control" value="" required />
                <span asp-validation-for="Certificate.ScoreNeededToPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certificate.State" class="control-label"></label>
                <select asp-for="Certificate.State" class="form-control form-select" id="list" required>
                    
                    <option value="1" >Enabled</option>
                    <option value="2" selected>Disabled</option>
                </select>
                <span asp-validation-for="Certificate.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certificate.Price" class="control-label"></label>
                <input asp-for="Certificate.Price" class="form-control" id="price" value="" required/>
                <span asp-validation-for="Certificate.Price" class="text-danger"></span>
            </div>
        <div class="container"></div>
            <div class="form-group">
                <br />
                <input type="submit" name="submitButton" style="float:right" value="Save and out" class="btn btn-success" />
                <input type="submit" name="submitButton"  value="Add Topics" class="btn btn-primary" />
                <br /><br />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>


    </div>
</div>



@section Scripts{
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    $("#list").change(function(){
        var state = document.getElementById("list").value;
        if(state == 1)
        {
            document.getElementById("price").required = true;   

        }
        else if(state == 2)
        {
            document.getElementById("price").required = false;

        }
    })
    
</script>

}
            


